{% extends "loggedin_base.html" %}
{% block javascript %}
<script>
 function showHide(outlet) {
  var entry_list = document.getElementById("show-hide-"+outlet);
  var button = document.getElementById("show-hide-button-"+outlet);
  if (entry_list.style.display === "none") {
    entry_list.style.display = "block";
    button.innerHTML = "Hide";
  } else {
    entry_list.style.display = "none";
    button.innerHTML = "Show";
  }
} 
</script>
{% endblock %}
{% block title %}
<title>{{ search_query|e }} - SmartRSS</title>
{% endblock %}
{% block content %}

<div class="searchbar">
    <!-- Form which takes the search term as input from the user. -->
    <form action="{{ url_for('main_bp.search_tags') }}" method="post">
        <label for="search">Story search</label><br>
        <input type="text" id="search" name="search"><br>
        <input type="submit" value="Search">
    </form>
</div>

<!-- Print a heading containing the search term, with the found stories (titles, descriptions, links and publication date) which that search brings up printed under a heading for their outlet. The number of found stories is also printed under the heading. -->

<h1>{{ search_query|e }}</h1>
<p>{{ count|e }} stories found.</p>
{% for outlet, entries in search_data.items() %}
    <h2>{{ outlet|e }}</h2>
    <button id="show-hide-button-{{ outlet|e }}" onclick="showHide('{{ outlet|e }}')">Show</button>
    <div id="show-hide-{{ outlet|e }}" style="display:none;">
    {% for entry in entries %}
        <h4>{{ entry['title']|e }}</h4>
        <p>{{ entry['summary']|e }}</p>
        <a href="{{ entry['link']|e }}">{{ entry['link']|e }}</a>
        <p>Published: {{ entry['published']|e }}</p>
    {% endfor %}
    </div>
{% endfor %}

{% endblock %}
