body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: left;
}

h2 {
    color: gray;
    text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}

a {
    font-family: verdana;
    font-size: 20px;
    color: black;
}

 .header {
  background-color: orange;
  text-align: center;
  padding: 20px;
}

 /* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.searchbar {
    float: center;
    color: blue;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    flex: 100%;
  }
}

.hide {
  display: none;
}
